Flask               
gunicorn           
imutils          
lxml             
matplotlib       
numpy             
pdf2image        
pexpect          
pickleshare      
Pillow           
pip             
PyMuPDF            
pyparsing        
pypillowfight    
pytesseract      
python-dateutil  
PyYAML          
scipy            
setuptools        
Wand             
webencodings     
Werkzeug          
wheel             
